config.toml
__pycache__/
*.py[cod]
*$py.class
build/
dist/
*.egg-info/
*.egg
_version.py
env/
.venv/
venv/
ENV/
.pytest_cache/
.mypy_cache/
.ruff_cache/
.pytype/
.coverage
.coverage.*
htmlcov/
.tox/
.vscode/
.DS_Store
